<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>TeacherLogin</title>
        <link rel="stylesheet" type="text/css" media="all" href="../../resources/css/login.css"/>

    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Title -->
                <h2 class="active"> Sign In </h2>

                <!-- Login Form -->

                <form th:action="@{/teachers/login}" method="post">
                    <div th:if="${message != null}"><p th:text="${message}"></p></div>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="login"
                           th:name="login">
                    <input type="password" id="password" class="fadeIn third" name="login" placeholder="password"
                           th:name="password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>
            </div>
        </div>
    </body>
</html>